<div class="row cf">
    <label>Name</label><div class="ldl_value">{{name}}</div>
</div>
<div class="row cf">
    <label>Address</label>
    <div class="ldl_value">
        <div>{{address1}}</div>
        {{#address2}}
            <div>{{address2}}</div>
        {{/address2}}
        <div>
            {{city_name}}{{#state_code}},
            {{state_code}}{{/state_code}}{{#country_code}},
            {{country_code}}{{/country_code}}{{#postal_code}}
            {{postal_code}}{{/postal_code}}                    
        </div>                
    </div>            
</div>
{{#phone}}
    <div class="row cf">
        <label>Phone</label><div class="ldl_value">{{phone}}</div>
    </div>
{{/phone}}
{{#free_phone}}
    <div class="row cf">
        <label>Toll-Free</label><div class="ldl_value">{{free_phone}}</div>
    </div>
{{/free_phone}}
{{#fax}}
    <div class="row cf">
        <label>Fax</label><div class="ldl_value">{{fax}}</div>
    </div>
{{/fax}}